.main {
  position: relative;

  max-width: 1100px;
  max-height: 1000px;
  width: 90vw;
  height: 95%;

  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  gap: 1.1rem;
}

.buttons {
  width: 100%;
  display: flex;
  gap: 0.85rem;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

  --max-font-size: 1.8rem;
  font-size: clamp(1.5rem, 4.2vw, var(--max-font-size));
}

@media (min-width: 768px) {
  .main {
    max-height: 700px;
  }

  .buttons {
    flex-direction: row;
    --max-font-size: 2rem;
  }
}
