.color-component {
  transition: background-color 200ms ease-in-out;
  border-radius: 1000px;
  display: inline-block;

  &:not(.none) {
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.2);
  }

  &.always,
  &.hide-all-on-hover,
  .color-button:hover &.all-on-hover,
  &.individual-on-hover:hover,
  &.hide-individual-on-hover {
    background-color: var(--component-background-color);
  }

  .color-button:hover &.hide-all-on-hover,
  &.hide-individual-on-hover:hover {
    background-color: transparent;
  }
}

.color-button {
  transition: outline 50ms ease-in-out, background-color 100ms ease-in-out;
  font-size: 1em;
  font-family: monospace;
  animation: 1000ms ease-in-out forwards text-appear, 500ms ease-in-out forwards appear;

  &.correct-answer {
    outline: 0.18em solid rgba(42, 180, 65, 0.85);
    animation: 300ms ease-in-out jump;

    position: relative;

    &::after {
      content: '+1';
      font-size: 1.1em;
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      animation: 700ms ease-out forwards bonus;
    }
  }

  &.wrong-answer {
    outline: 0.18em solid rgba(180, 42, 42, 0.85);
    animation: 300ms ease-in-out shake;
  }

  &.unpicked-correct-answer {
    outline: 0.18em solid rgba(42, 180, 104, 0.85);
  }

  @media (min-width: 768px) {
    &.correct-answer,
    &.unpicked-correct-answer {
      transition: outline 400ms ease-in-out, background-color 400ms ease-in-out, border-color 400ms ease-in-out,
        box-shadow 400ms ease-in-out;
      border-color: transparent;
      box-shadow: none;
      outline: transparent;
    }
  }
}

@keyframes shake {
  0%,
  100% {
    translate: 0em;
  }
  20%,
  60% {
    translate: -0.2em;
  }
  40%,
  80% {
    translate: 0.2em;
  }
}

@keyframes jump {
  0%,
  100% {
    translate: 0 0;
    scale: 1;
  }
  50% {
    translate: 0 -0.5em;
    scale: 1.1;
  }
}

@keyframes bonus {
  0% {
    top: 30%;
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    top: -80%;
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text-appear {
  0% {
    color: rgba(255, 255, 255, 0);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 00), 0px 0px 5px rgb(0 0 0 / 0%);
  }

  50% {
    color: rgba(255, 255, 255, 1);
  }

  100% {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px rgb(0 0 0 / 40%);
  }
}
