.score {
  position: absolute;
  top: 0.6em;
  right: 0.5em;

  font-size: clamp(3rem, 6vw, 5rem);
  font-weight: bold;

  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px rgb(0 0 0 / 40%);
}
