.pointer {
  position: absolute;
  animation: 1000ms ease-in-out forwards go, 3000ms ease-in-out 800ms infinite click;
  bottom: 0;
  right: 0;
  translate: 72% 100%;
  font-size: 2rem;
  pointer-events: none;
  color: black;
}

@keyframes go {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    bottom: 50%;
    right: 50%;
  }
}

@keyframes click {
  15% {
    scale: 0.9;
  }
  20% {
    rotate: x 0deg;
  }
  30% {
    rotate: x 40deg;
  }
  40% {
    rotate: x 0deg;
    scale: 0.9;
  }
  60% {
    scale: 1;
  }
}
