.pointer {
  position: absolute;
  animation: 3800ms ease-in-out infinite forwards click;
  bottom: 25%;
  right: 0;
  translate: 72% 100%;
  font-size: 2rem;
  pointer-events: none;
  color: black;
}

@keyframes click {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 0.3;
  }
  13% {
    opacity: 1;
  }
  21% {
    scale: 1;
  }
  26% {
    bottom: 50%;
    right: 50%;
  }
  33% {
    scale: 0.9;
  }
  35% {
    rotate: x 0deg;
  }
  42% {
    rotate: x 40deg;
  }
  53% {
    rotate: x 0deg;
    scale: 0.9;
  }
  68% {
    scale: 1;
  }
  84% {
    opacity: 1;
  }
  92% {
    opacity: 0;
  }
  100% {
    bottom: 50%;
    right: 50%;
    opacity: 0;
  }
}
